*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background: rgba(0, 0, 0, 0.842);
    
}
.parent {
    display: flex;
}
.box1{
    width: 300px;
    height: 500px;
    border-radius: 8px;
    background: white;
    margin-left: 60px;
    margin-top: 70px;
    
    
    
    
}
.photo{
    width: 300px;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.days{
    
    text-align: center;
    margin-top: 20px;
    color: brown;

}
.h1{
    text-align: center;

}
.lorem{
    padding: 4px;
    text-align: center;
}


.box_top{
    width: 300px;
    height: 63px;
    background: brown;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    
    

}
.but1{
    width: 100px;
    height: 63px;
    background: brown;
    color: white;
    border-bottom-left-radius: 8px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.842);
    

}
.but2{
    width: 100px;
    height: 63px;
    background: brown;
    color: white;
    font-size: 18px;
    border: 1px;
    
}
.but3{
    width: 100px;
    height: 63px;
    background: brown;
    color: white;
    font-size: 18px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.842);


}
.box2{
    width: 300px;
    height: 500px;
    border-radius: 8px;
    background: white;
    margin-left: 60px;
    margin-top: 70px;
    
    
}
.days{
    text-align: center;
    color: orangered;
}



